<div class="bootstrap-wrapper">
    <div class="container text-center mt">
        <h1>Welcome to Dashboard</h1>
        <div class="container text-center mt">
            <h3>Mutual Fund List</h3>

            <table class="table table-striped text-center mt">
              <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name of Mutual Fund</th>
                            <th>Total Quantity</th>
                        </tr>
                     </thead>

                     <tbody>
                        <tr *ngFor="let mutalfund of mutalfunds" >
                            <td>{{mutalfund.mfId}}</td>
                            <td>{{mutalfund.mutualFundName}}</td>
                            <td>{{mutalfund.mutualFundUnits}}</td>

                         </tr>
                    </tbody>

            </table>
        </div>
        <br><br>
        <div class="container text-center mt">
            <h3>Stocks List</h3>

            <table class="table table-striped text-center mt">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name of stock</th>
                            <th>Total Quantity</th>
                        </tr>
                     </thead>

                     <tbody>
                        <tr *ngFor="let stock of stocks" >
                            <td>{{stock.stId}}</td>
                            <td>{{stock.stockName}}</td>
                            <td>{{stock.stockCount}}</td>

                         </tr>
                    </tbody>

            </table>


        </div>



    </div>
    <div class="text-center">
       <p><button  mat-raised-button routerLink="/net">Get Daily Prices</button></p>
    </div>
    <div class="text-center">
       <p><button  mat-raised-button routerLink="/sellasset">Sell Asset</button></p>
    </div>
    <h4>Your Net Worth : {{netWorth}}</h4>
</div>
