<div class="bootstrap-wrapper">
    <div class="container text-center mt">
        <div class="container text-center mt">
                <h3 class="text-center">Daily Stock Price</h3>
                <table class=" text-center mt table table-striped">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">Name of Stock</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let stock of allStock">
                            <td>{{stock.stockName}}</td>
                            <td>{{stock.stockValue}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <br><br>
        <div class="container text-center mt">
            <h3 class="text-center">Daily Mutual Fund Price</h3>
            <table class=" text-center mt table table-striped">
                    <thead class="text-center">
                        <tr>

                            <th scope="col">Name of Mutual Fund</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let mf of allMutualFund">
                            <td>{{mf.mutualFundName}}</td>
                            <td>{{mf.mutualFundValue}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            <div class="text-center">
                <p>  <button  mat-raised-button routerLink="/dashboard">Go To Dashboard</button></p>
            </div>
            <br><br><br>
        </div>
    </div>
</div>
