<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Login Here !!</h1>

            <form (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <mat-label>UserName</mat-label>
                    <input
                    [(ngModel)]="credentials.username"
                    name="username"
                    required
                    type="text" matInput>

                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input
                    [(ngModel)]="credentials.password"
                    name="username"
                    required
                    type="password" matInput>

                </mat-form-field>

                <div class="container text-center">
                    <button style="margin-right: 10px;" type="submit" mat-raised-button color="primary">
                    Login</button>
                    <button style="margin-left: 10px;" type="reset" mat-raised-button color="accent">
                     Reset</button>
                </div>
            </form>
            {{credentials | json}}

        </div>

    </div>

</div>
